@import url(./root.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Mantém a navbar acima dos outros elementos */
}



body {
  background-color: var(--cor-background);
  color: var(--cor-escuro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--cor-escuro);
}

.botao-padrao {
  background-color: var(--cor-help-light);
  color: black;
}

.botao-padrao:hover {
  background-color: var(--cor-help-verde);
}

.conteudo {
  background-color: var(--cor-texto);
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

aside {
  position: fixed;
  top: 5.5rem;
  left: 0;
  width: 20%;
  margin-left: 1rem;
}

aside .sidebar {
  background-color: var(--cor-branco);
  display: flex;
  flex-direction: column;
  height: 85vh;
  top: 1rem;
  border-radius: var(--border-radius-3);
}

aside h3 {
  font-weight: var(--h3-font-weigth-aside);
  font-size: var(--h3-font-size-aside);
}

aside .sidebar a {
  display: flex;
  color: var(--cor-helps);
  margin-left: 1.5rem;
  gap: 1rem;
  align-items: center;
  height: 3.2rem;
  transition: all 0.1s ease-in;
  border-radius: var(--border-radius-1);
  text-decoration: none;
  margin-top: 1rem;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.1s ease-in;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  color: var(--cor-helps2);
}

aside .sidebar a:last-child:hover {
  color: var(--cor-helps2);
}

aside .sidebar a:hover {
  color: var(--cor-helps2);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
  transition: 0.4s ease;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
  color: var(--cor-helps);
  transition: all 0.3s ease-in-out;
}

/* Botão de Menu com Título */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--cor-helps);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.hamburger .title {
  font-size: 1.2rem;
  color: var(--cor-escuro);
  font-weight: bold;
  margin-left: 0.5rem;
  transition: opacity 0.3s ease;
}

/* Ocultar o título no modo condensado */
aside.condensed .hamburger .title {
  display: none;
}

/* Ajustes na sidebar no modo condensado */
aside.condensed .sidebar {
  width: 4rem;
  align-items: center;
}

aside.condensed .sidebar a h3 {
  display: none;
}

aside.condensed .sidebar a {
  justify-content: center;
  margin-left: 0;
}

aside.condensed .sidebar a span {
  font-size: 1.8rem;
}

/* Exibir o botão no modo mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
.container-parceiros {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00bcd4; /* Cor de fundo semelhante ao da imagem */
  padding: 20px;
  border-radius: 10px;
  max-width: 600px; /* Ajuste a largura conforme necessário */
  margin: 20px auto;
}

.container-parceiros h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2em;
}

.empresa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc107; /* Cor de fundo dos itens */
  color: #333;
  font-weight: bold;
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
}

.container-donation,
.form-donation {
  margin-top: 3.8rem;
  width: calc(100% - 45rem); /* Ajuste para evitar sobreposição com a sidebar */
  margin-left: 260px; /* Distância da sidebar */
  padding: 20px;
  background-color: var(--cor-branco);
  border-radius: var(--border-radius-3);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.doacoes-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Exibir 3 itens por linha */
  gap: 20px;
  width: 100%;
}

.doacao-card {
  background-color: #f9f9f9;
  color: #333;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: var(--border-radius-cartao);
  box-shadow: var(--box-shadow-donation);
  transition: var(--transiotion-ease);
  overflow: hidden;
}

.doacao-card:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  background-color: var(--cor-helps2);
  border: 2px solid var(--cor-help-verde);
  transition: var(--transiotion-ease);
}

.doacao-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.doacao-card p {
  font-size: var(--font-size1);
  line-height: 1.4;
}

/* Estilo do botão "Adicionar ao carrinho" */
.donate-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: var(--cor-help-dark2);
  color: var(--cor-texto);
  border: none;
  border-radius: var(--border-radius-cartao);
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.donate-btn:hover {
  background-color: var(--cor-help-dark);
}

/* Exibe o botão ao passar o mouse no card */
.doacao-card:hover .donate-btn {
  opacity: 1;
  transform: translateY(0);
}

.form-donation .top {
  width: -webkit-fill-available;
  padding: var(--padding-1);
  margin: auto;
}

.form-donation .title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
  color: var(--cor-texto);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: -webkit-fill-available;
}

.form-field label {
  margin-bottom: 5px;
  color: var(--cor-texto);
  font-size: var(--font-size1);
  width: -webkit-fill-available;
}

.form-field input,
.form-field textarea {
  width: -webkit-fill-available;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: var(--font-size1);
}

.form-field input:focus,
.form-field textarea:focus {
  outline: none;
  border-color: #61dafb;
  width: -webkit-fill-available;
}

input {
  width: -webkit-fill-available;
}

.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: -webkit-fill-available;
}

.btn-box .solid {
  padding: 10px 20px;
  width: -webkit-fill-available;
  background-color: var(--cor-help-verde);
  color: #282c34;
  border: none;
  border-radius: 4px;
  font-size: var(--font-size1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-box .solid:hover {
  background-color: var(--cor-help-dark);
  width: -webkit-fill-available;
}

.detalhes-container {
  background-color: var(--cor-help-dark);
  color: var(--cor-texto);
  width: 36rem;
  padding: var(--padding-1);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  margin-top: 2rem;
  text-align: center;
}

.detalhes-container h1 {
  font-size: 1.8em;
  color: var(--cor-escuro);
  margin-bottom: 10px;
}

.detalhes-container p {
  font-size: var(--font-size1);
  color: var(--cor-texto);
  margin: 5px 0;
}

.form-donation-details {
  margin-top: 2rem;
  padding: 20px;
  background-color: #282c34;
  color: var(--cor-texto);
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  text-align: left;
  box-shadow: var(--box-shadow);
}

.details-title {
  text-align: center;
  font-size: 1.6em;
  color: var(--cor-texto);
  margin-bottom: 20px;
}

.form-donation-details .form-field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  color: var(--cor-texto);
}

.form-donation-details .form-field label {
  color: var(--cor-texto);
  font-size: var(--font-size1);
  margin-bottom: 5px;
}

.form-donation-details .form-field input {
  width: -webkit-fill-available;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: var(--font-size1);
}

.form-donation-details .form-field input:focus {
  outline: none;
  border-color: #61dafb;
  width: -webkit-fill-available;
}

.form-donation-details .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-donation-details .donate-button {
  padding: 10px 20px;
  width: 100%;
  background-color: var(--cor-help-verde);
  color: var(--cor-branco2);
  border: none;
  border-radius: 4px;
  font-size: var(--font-size1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-donation-details .donate-button:hover {
  background-color: var(--cor-help-dark);
}
