@import url("../css/root.css");

* {
  font-family: sans-serif;
}

body {
  background-color: var(--cor-help-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--cor-texto);
}

form {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-cartao);
  background-color: var(--cor-branco2);
  padding: var(--padding-1);
  width: 25rem;
}

input,
button {
  padding: var(--padding-login);
  width: -webkit-fill-available;
  font-weight: bold;
}

input {
  border-radius: var(--border-radius-2);
  border: none;
  color: var(--cor-branco2);
}

button {
  border-radius: var(--border-radius-login);
  cursor: pointer;
  margin-bottom: var(--padding-login);
  color: var(--cor-texto);
}

button:active{
  opacity: 0.9;
}

button:disabled{
  opacity: 0.4;
}

.form-field{
  margin-bottom: var(--padding-login);
}

.clear {
  background-color: transparent;
  border: 2px solid var(--cor-branco2);
}

.clear:hover {
  border: 2px solid var(--cor-help-verde);
  color: var(--cor-help-light);
  font-weight: bold;
}

.solid {
  background-color: var(--cor-help-light);
  color: var(--cor-texto);
  border: none;
}

.solid:hover {
  background-color: var(--cor-help-verde);
}

.outline {
  background-color: transparent;
  border: 2px solid var(--cor-branco);
}

.outline:hover {
  background-color: var(--cor-help-verde);
  border: 2px solid var(--cor-branco2);
}

.error{
  background-color: var(--cor-aviso);
  border-radius: var(--border-radius-1);
  padding: var(--padding-error);
  font-weight: bolder;  
  color: var(--cor-texto);
  display: none;
  margin: var(--border-error);
}

.loading{
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.loading label{
  font-size: 24px;
}

.centralize{
  display: flex ;
  justify-content: center;
  align-items: center;
}
